/* General Styles */
body {
  background-image: url('/public/assets/images/prism.png');
  background-repeat: repeat;
  color: aliceblue;
  min-height: 100vh;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.box {
  border: black solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.page-cont {
  min-height: calc(100vh - 193px);
}

header {
  margin-bottom: 15px;
}

.header-bg {
  border-bottom: solid black 2px;
  position: relative;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #000000;
}

.header-bg::before {
  content: '';
  background-image: url('/public/assets/images/abstract-curve.png');
  position: absolute;
  top: -250px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

h1 {
  position: relative;
  color: #ffffff;

  text-align: center;
}

footer {
  background-color: #000000;
}

.footer-ul {
  width: 60% !important;
}

h2 {
  text-align: center;
}

/* Card Styles */
.card {
  width: 25rem;
  background-color: rgb(38, 41, 43);
  padding-top: 15px;
  margin: 5px;
  border: #000000 solid 2px;
}

.card-text,
.card-title {
  color: aliceblue;
}

.card-img {
  background: black;
  border-top: #000000 solid 2px;
  border-left: #000000 solid 2px;
  border-right: #000000 solid 2px;
  border-radius: 8px 8px 0px 0px;
}

.card-img img {
  height: 225px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.card-img img:hover {
  opacity: 0.65;
}

.card-body {
  border-top: #000000 solid 2px;
}

/* Project Styles */
.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-row {
  justify-content: center;
}

/* Nav Styles */
.nav-cont {
  display: flex;
  justify-content: center;
}

.nav-cont ul {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* Cool Link Effect */
.slide {
  font-size: 150%;
  background-image: linear-gradient(
    to right,
    #11fc21,
    #11fc21 50%,
    aliceblue 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.slide:before {
  content: '';
  background: #11fc21;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.slide:hover {
  background-position: 0;
}

.slide:hover::before {
  width: 100%;
}

.res-size {
  font-size: 100% !important;
}

.icon {
  color: aliceblue;
  transition: 1s;
}

.icon:hover {
  color: #11fc21;
}

.sub-btn {
  color: #000000;
  background-color: aliceblue;
  border-radius: 0px 0px 15px 15px;
  transition: 1s;
}

.sub-btn:hover {
  background-color: #11fc21;
}

/* About page Styles */
.about {
  justify-content: center;
  font-size: 125%;
  margin-top: 15px;
}

.about-img {
  justify-content: center;
  padding-top: 25px;
}

.center {
  display: flex;
  justify-content: center;
}

.pic {
  height: 300px;
  border-radius: 15px;
  border: black solid 2px;
  box-shadow: 10px 10px 5px black;
}

/* Resume Page */
.skill-list {
  justify-content: center;
}

.skills {
  font-size: 145%;
  list-style-type: circle;
}

/* Form Style */
.form-inputs {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .nav-cont ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-cont ul li {
    padding: 5px;
  }
}
