/* Animated BG */
body {
  /* background-color: #403060;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-image: url('/public/assets/images/prism.png');
  background-repeat: repeat;

  color: aliceblue;
  /* color: #fca311; */
  min-height: 100vh;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.box {
  border: black solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-bottom: 25px;
}

/* h1 {
  text-align: center;
  color: aliceblue;
  z-index: 5;
  /* color: #fca311; */

/* margin-bottom: 0; */
/* } */

.page-cont {
  min-height: calc(100vh - 166px);
}

/* .header-bg {
  position: relative;
  background-color: #000000;
  background-image: url('/public/assets/images/abstract-curve.png');
  background-position-y: 35%;
  background-position-x: 0%;
  background-repeat: no-repeat;
}

.header-bg::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.65);
} */

.header-bg {
  position: relative;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #000000;
  margin-bottom: 15px;
}

.header-bg::before {
  content: '';
  background-image: url('/public/assets/images/abstract-curve.png');
  position: absolute;
  top: -250px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

h1 {
  position: relative;
  color: #ffffff;

  text-align: center;
}

footer {
  background-color: #000000;
}

h2 {
  text-align: center;
}

.nav-cont {
  display: flex;
  justify-content: center;
}

.nav-cont ul {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* Cool Link Effect */
a {
  font-size: 150%;
  background-image: linear-gradient(
    to right,
    #11fc21,
    #11fc21 50%,
    aliceblue 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #11fc21;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

.about {
  justify-content: center;
  font-size: 125%;
  margin-top: 15px;
}

.about-img {
  justify-content: center;
  padding-top: 25px;
}

.center {
  display: flex;
  justify-content: center;
}

.skill-list {
  justify-content: center;
}

.pic {
  height: 300px;
  border-radius: 15px;
  border: black solid 2px;
  box-shadow: 10px 10px 5px black;
}
